*~
\#*#

/docker/bin
/docker/buildx
/docker/cli-plugins
/docker/contexts
/docker/desktop-build
/docker/devenvironments
/docker/run
/docker/scout
/docker/.token_seed
/docker/.token_seed.lock

/raycast/extensions

/ruby/bundler/cache

/vscode/History
/vscode/globalStorage
/vscode/workspaceStorage

/zsh/history

/vim/janus
/vim/backup
/vim/bundle

/zed/embeddings

# Used by VS Code markdown-preview-enhanced plugin:
/crossnote
