[submodule "claude/plugins/marketplaces/anthropic-agent-skills"]
	path = claude/plugins/marketplaces/anthropic-agent-skills
	url = git@github.com:anthropics/skills.git

[submodule "claude/plugins/marketplaces/claude-plugins-official"]
	path = claude/plugins/marketplaces/claude-plugins-official
	url = git@github.com:anthropics/claude-plugins-official.git

[submodule "claude/plugins/marketplaces/superpowers-marketplace"]
	path = claude/plugins/marketplaces/superpowers-marketplace
	url = git@github.com:obra/superpowers-marketplace.git
