# Disable the default most-recently-used tab switching. (See http://blog.atom.io/2016/04/12/atom-1-7-and-1-8-beta.html for details.)

'atom-text-editor':
    'ctrl-f2': 'unset!'                 # Make sure we can activate the menu through system keyboard shortcut.
    'cmd-b': 'goto-definition:go'
    'shift-delete': 'core:cut'          # This is a CUA standard.
    'shift-insert': 'core:paste'        # This is a CUA standard.
    'ctrl-delete': 'core:copy'          # This one is non-standard, but close to CUA.
    'ctrl-insert': 'core:copy'          # This is a CUA standard.
'.platform-darwin atom-workspace':
    'shift-cmd-T': 'pane:reopen-closed-item'  # Don't allow Terminal Plus to override reopening a closed tab.
'.platform-darwin .platformio-ide-terminal .terminal':
    'cmd-w': 'platformio-ide-terminal:close'
